name: e2e-kaniko

on:
  pull_request:
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/e2e-kaniko.yaml
  push:
    branches:
      - main
    tags:
      - v*
    paths:
      - src/**
      - tests/**
      - '*.json'
      - action.yaml
      - .github/workflows/e2e-kaniko.yaml

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - amd64
          #- arm64
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@2c0bd771b40637d97bf205cbccdd294a32112176 # v4.5.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}/e2e
          # avoid overwriting the latest tag because metadata-action does not add a suffix to it
          flavor: latest=false,suffix=-kaniko-${{ matrix.platform }}
      - uses: int128/kaniko-action@49e00fb5c09da8711de53ca43f9dd126cc6be343 # v1.20.0
        with:
          push: true
          context: tests/fixtures
          tags: ${{ steps.metadata.outputs.tags }}
          labels: ${{ steps.metadata.outputs.labels }}

  build-multi-architecture:
    needs:
      - build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      # build the action
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - uses: actions/setup-node@64ed1c7eab4cce3362f8c340dee64e5eaeef8f7c # v3.6.0
        with:
          node-version: 16
          cache: yarn
      - run: yarn
      - run: yarn build
      - run: yarn package

      # run the action
      - uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: docker/metadata-action@2c0bd771b40637d97bf205cbccdd294a32112176 # v4.5.0
        id: metadata
        with:
          images: ghcr.io/${{ github.repository }}/e2e
          flavor: latest=false,suffix=-kaniko
      - name: docker-manifest-create-action
        uses: ./
        with:
          tags: ${{ steps.metadata.outputs.tags }}
          suffixes: |
            -amd64
